/**
* Template Name: Selecao - v4.1.0
* Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* @font-face {
  font-family: "sinkin_sans900_x_black_italic";
  src: url(./../fonts/SinkinSans-900XBlackItalic.otf);
} */

@font-face {
    font-family: "sinkin_sans900_x_black_italic";
    src: url(../fonts/SinkinSans-900XBlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: "sinkin_sans500_medium_italic";
    src: url(../fonts/SinkinSans-500MediumItalic.ttf) format("truetype");
}

body {
    font-family: "sinkin_sans900_x_black_italic";
    color: #444444;
}

a {
    color: #ef6603;
    text-decoration: none;
}

a:hover {
    color: #fc8129;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #183354;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #fc7c1f;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(42, 44, 57, 0.9);
}

#header.header-transparent {
    background: #ffffff80;
}

#header.header-scrolled {
    background: white;
    /* background: rgba(42, 44, 57, 0.9); */
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/

.navbar {
    padding: 0;
    margin: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 7px 15px;
    margin-left: 5px;
    font-size: 11px;
    color: #183354;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 50px;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
    background: #38ab4b57;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 5px;
    top: calc(100% + 30px);
    margin: 5px 0 0 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 15px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #2a2c39;
    margin: 0 5px;
    font-size: 14px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #fff;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(20, 21, 28, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    color: #2a2c39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #fff;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #fff;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

.buttonView {
    font-weight: 100;
    font-family: "sinkin_sans900_x_black_italic";
    font-size: 14px;
    border-radius: 15px;
    padding: 8px 30px;
    color: #193254;
    background-color: #fff;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%);
    padding: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    padding-top: 60px;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ef6603;
}

#hero .btn-get-started:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px) {
    #hero .carousel-container {
        height: 90vh;
    }
    #hero h2 {
        font-size: 28px;
    }
}

.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}
/*--------------------------------------------------------------
# Separadores
--------------------------------------------------------------*/
.separador-verde {
    width: 70px;
    border-bottom: 3px solid #38ac4a;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 0;
    padding-right: 0;
    display: inline-block;
}

.separador-azul {
    width: 70px;
    border-bottom: 3px solid #1c75aa;
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: -4px;
    padding-left: -5px;
}
/*--------------------------------------------------------------
# Nosotros
--------------------------------------------------------------*/
.nosotros-mision {
    background: #183354;
    padding: 80px 0 0;
}

.nosotros-vision {
    background: #ffffff;
}

.nosotros p {
    color: #fff;
}

.fvision {
    font-family: "sinkin_sans900_x_black_italic";
    color: #38ac4a;
    font-size: 20px;
}

.tmision {
    font-family: "sinkin_sans500_medium_italic";
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.tvision {
    font-family: "sinkin_sans500_medium_italic";
    color: #183354;
    font-size: 12px;
    line-height: 20px;
}

.app-justificar {
    text-align: justify;
}

.nosotros .nosotros-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #ef6603;
}

.nosotros .nosotros-btn:hover {
    background: #fff;
    color: #ef6603;
}

.subtitulos {
    font-family: "sinkin_sans900_x_black_italic";
    color: white;
    font-size: 20px;
    padding-top: 0px;
}

.app-separadorve {
    width: 30px;
    border-bottom: 3px solid #38ac4a;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.img-responsive {
    width: 100%;
}

.mt-66 {
    margin-top: 66px;
}

@media (min-width: 992px) {
    .margin-container {
        padding: 0;
        margin: 0px 0px 0px auto;
    }
}

@media (max-width: 991px) {
    .vision-button {
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .nosotros {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .nosotros .nosotros-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*--------------------------------------------------------------
# valores
--------------------------------------------------------------*/

.valores {
    background-color: #38ac4a;
    font-family: "sinkin_sans900_x_black_italic";
}

.title-valores {
    font-family: "sinkin_sans900_x_black_italic";
    color: #fff;
    font-size: 20px;
}

.separador-valores {
    width: 30px;
    border-bottom: 3px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.subtitulo-valor {
    font-family: "sinkin_sans900_x_black_italic";
    color: #193254;
    font-size: 14px;
}

.descripcion {
    font-family: "sinkin_sans500_medium_italic";
    font-size: 12px;
    line-height: 20px;
    color: #193254;
    text-align: justify;
}

/*--------------------------------------------------------------
# Empresas
--------------------------------------------------------------*/

.titulo-empresas {
    font-family: "sinkin_sans900_x_black_italic";
    color: #183354;
    font-size: 20px;
}

/*--------------------------------------------------------------
# Bolsa de trabajo
--------------------------------------------------------------*/
.bolsadetrabajo {
    background-color: rgb(236, 236, 236);
}

.subtitulo2 {
    font-family: "sinkin_sans900_x_black_italic";
    color: #183354;
    font-size: 20px;
    padding-top: 50px;
}

.btnbdt {
    font-weight: 100;
    font-family: "sinkin_sans900_x_black_italic";
    font-size: 14px;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    background-color: #183354;
}

.descripcionbdt {
    width: 30vw;
    font-family: "sinkin_sans500_medium_italic";
    color: #183354;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
}

/*--------------------------------------------------------------
# contacto
--------------------------------------------------------------*/
.subtitulos-contacto {
    font-family: "sinkin_sans900_x_black_italic";
    color: #183354;
    font-size: 20px;
    padding-top: 0px;
}
.contacto .info {
    width: 100%;
    background: #fff;
}

.contacto .info i {
    font-family: "sinkin_sans900_x_black_italic";
    font-size: 20px;
    color: #193354;
    float: left;
    width: 44px;
    height: 44px;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contacto .info h6 {
    font-family: "sinkin_sans900_x_black_italic";
    padding: 0 0 0 60px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #193354;
}

.contacto .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555974;
}

.contacto .info .email,
.contacto .info .phone {
    margin-top: 40px;
}

.contacto .info .email:hover i,
.contacto .info .address:hover i,
.contacto .info .phone:hover i {
    background: #3cad4f;
    color: #fff;
}

.contacto .php-email-form {
    width: 100%;
    background: #fff;
}

.contacto .php-email-form .form-group {
    padding-bottom: 8px;
}

.contacto .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contacto .php-email-form .error-message br + br {
    margin-top: 25px;
}

.contacto .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contacto .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contacto .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contacto .php-email-form input,
.contacto .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contacto .php-email-form input {
    height: 44px;
}

.contacto .php-email-form textarea {
    padding: 10px 12px;
}

.contacto .php-email-form button[type="submit"] {
    background: #193354;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contacto .php-email-form button[type="submit"]:hover {
    background: #38ac4b;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    margin-top: 70px;
    background: #f7f8f9;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

@media (max-width: 992px) {
    .breadcrumbs ol {
        margin-top: 10px;
    }
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #404356;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #193254;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/* #footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
} */

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ef6603;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #bd5102;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    padding-top: 30px;
    font-family: "sinkin_sans500_medium_italic";
    color: white;
    font-size: 12px;
    line-height: 20px;
}

#footer .credits {
    font-size: 13px;
}

.lineArrow {
    border-left: 1px solid white;
    width: 10px;
    height: 50px;
    position: relative;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.titlefooter {
    font-family: "sinkin_sans900_x_black_italic";
    color: white;
    font-size: 20px;
    padding-top: 50px;
}
